 /* 带颜色的字体图标 */
 
 .icon {
     width: 1em;
     height: 1em;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
 }
 
 body {
     margin: 0px;
     padding: 0px;
 }
 /* 背景 */
 
 .ws_box {
     width: 100%;
     height: 1000px !important;
     background-color: #dcf4e6;
     margin-top: 60px;
     position: relative;
 }
 
 .ws_box>.s1box>.Benediction1 {
     margin-top: 50px;
 }
 
 .ws_box>.s1box>.message1 {
     margin-top: 50px;
 }
 
 .ws_box>.s1box>.message1 {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     text-align: center;
     font-weight: 700;
     font-size: 60px;
     color: rgba(0, 0, 0, 0.05);
 }
 
 .ws_box>.s1box>.Benediction1 {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     text-align: center;
     font-family: "Great Vibes", cursive;
     font-size: 100px;
     font-weight: normal;
     color: #f67e7d;
 }
 /* 表单 */
 
 .form-horizontal {
     margin-top: 30px;
     width: 550px;
     height: 600px;
     background-color: white;
     /* border-radius: 20px; */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 /* 表单组 */
 
 .form-horizontal .form-group {
     width: 90%;
     margin-left: 25px;
     margin-top: 0px;
 }
 /* 输入框 */
 
 .form-horizontal .form-group .form-control {
     height: 50px;
 }
 
 .form-horizontal .form-group .form-control:focus {
     box-shadow: 10px 5px 30px 10px pink;
     /* border-color: pink; */
 }
 
 .form-horizontal .form-group .text {
     height: 100px;
 }
 /* 按钮 */
 
 .form-horizontal .form-group .btn {
     width: 200px;
     height: 60px;
     font-size: 20px;
     border-radius: 20px;
     background-color: #f67e7d;
     color: white;
     font-weight: bolder;
     margin-top: -20px;
     margin-left: 0px;
     border: 0px;
 }
 
 .form-horizontal .form-group .btn :hover {
     color: white;
 }
 
 .form-horizontal .form-group .btn :focus {
     outline: none;
 }
 /* 栅格 */
 
 @media screen and (max-width: 1160px) {
     .ws_box>.s1box>.message1 {
         font-size: 20px !important;
         margin-top: 80px;
     }
     .ws_box>.s1box>.Benediction1 {
         font-size: 41px !important;
         margin-top: 80px;
     }
     .ws_box>.form-horizontal {
         width: 80%;
     }
 }