#navbar-example{
    background-color: white;
    border: 0;
}
.navbar-default .navbar-brand {
    font-size: 30px;
    color:#f67e7d;
    font-weight: 700;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{

    color: #555;
    background-color: white;
    border-bottom: 3px solid #f67e7d;
    box-sizing: border-box;
}