html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 800px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.ws_swiper-slide {
    border-radius: 10%;
    height: 290px;
    margin-top: 150px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
    transform: scale(1);
}

.box .sbox {
    width: 100%;
    height: 40px;
    position: relative;
}

.box .sbox p {
    display: inline-block;
    color: pink;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-weight: bolder; */
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 媒体 */

.media {
    width: 80%;
    height: 80%;
}
/* 祝福 */

.media .media-heading {
    height: 50%;
}

.media .media-heading div {
    width: 80%;
    height: 100%;
    font-size: 22px;
    color: pink;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.media .media-left {
    width: 30%;
    height: 35%;
    margin-top: 13%;
}

.media .media-left .media-object {
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

.media .media-body {
    width: 70%;
    height: 35%;
    margin-left: 30%;
    margin-top: -80px;
    color: pink;
    overflow: hidden;
}

.media .media-body h4 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 15px;
    padding-left: 5px;
    font-weight: normal;
    font-size: 10px;
}

.media .media-body h6 {
    margin-left: 80px;
    margin-top: 10px;
}