* {
    padding: 0px;
    margin: 0px;
  }

.container {
    position: relative;
    margin-top: 50px;
}

.container .place {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.05);
}

.container .time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 90px;
    font-weight: normal;
    color: #f67e7d;
}


.row .item {

    height: 600px;
    width: 2.8rem;
    border: 1px solid black;
    margin-top: 175px;
    margin-left: .3rem;
    background-image: url(../../tools/images/place-2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .p1 {
    background-image: url(../../tools/images/place-1.jpg);
}

.row .p3 {
    background-image: url(../../tools/images/place-3.jpg);
}

.row .item .inner{
    height: 580px;
    width: 2.6rem;
   
    
    background-color: white;
    
}
.row .item .inner .center {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.row .item .inner .center .glyphicon-time {
    
    font-size: .6667rem;
    color: coral;
}
.row .item .inner .center .glyphicon-heart {       
    font-size: .6667rem;
    color: coral;
}


.row .item .inner .center .glyphicon-heart-empty {  
    font-size: .6667rem;
    color: coral;
    
}

.row .item .inner .text .a {
    color: coral;
    text-decoration: none;
}



@media screen and (max-width:990px) {
    .container .place {
        font-size: 60px;
        font-weight: normal;
    }
    .container .time {
        font-size: 60px;
    }
}

@media screen and (min-width:580px) and (max-width:768px) {
    .row .item {
        /* width: 5.8rem; */
        height: 8.5rem;
        transform: translateX(35%);
    }

    .row .item .inner {
        /* width: 5.6rem; */
        height: 8.2rem;
    }
}

@media screen and (max-width:580px) {
    .row .item {
        width: 5.8rem;
        height: 500px;
        transform: translateX(20%);
    }
    .row .item .inner {
        width: 5.6rem;
        height: 480px;
    }
    .row .item .inner .center .glyphicon-time {
    
    font-size: 40px;
    color: coral;
    }
    .row .item .inner .center .glyphicon-heart {
    
    font-size: 40px;
    color: coral;
    }


    .row .item .inner .center .glyphicon-heart-empty {
    
    font-size: 40px;
    color: coral;
    
    }
}