<div class="ws_box" id="part8">
    <div class="s1box" style="width: 100%;height: 250px;position: relative;">
        <div class="message1">Come to our wedding!</div>
        <div class="Benediction1">
            <span><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xin-hunli"></use>
                </svg>
            </span> Come to our wedding!
        </div>
    </div>

    <form enctype="multipart/form-data" method="post" action="/index" id="attendingform" class="form-horizontal center-block" role="form">
        <div style="margin-top: 40px;">
            <div class="form-group">

                <input type="text" class="form-control" id="name" name="name" placeholder="您的姓名">

            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="identity" name="identity" placeholder="您与新郎(新娘)的关系:(如新郎舅舅)">

            </div>
            <div class="form-group">

                <select class="form-control" name="guest">
                            <option>参加婚宴的人数</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                    </select>

            </div>
            <div class="form-group">

                <textarea class="form-control text" rows="2" name="message" placeholder="您的祝福"></textarea>

            </div>

            <div class="form-group">
                <dl>
                    <dt>设置你的头像</dt>
                    <dd>
                        <img class="avatar" width="80" height="80" src="" alt="">
                        <div>
                            <input type="file" id="avatar" onchange="getFileContent()" name="avatar" accept="image/*">
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="form-group">
                <button onclick="window.location.href = 'http://localhost:3000/index'" id="btn" type="submit" class="btn btn-success btn-block">上传</button>
            </div>
        </div>
    </form>
</div>