<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>婚礼邀请函</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://fastly.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://fastly.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../tools/css/p1.css">
    <link rel="stylesheet" href="../../tools/css/p3.css">
    <link rel="stylesheet" href="../../tools/css/p4.css">
    <link rel="stylesheet" href="../../tools/css/p6.css">
    <link rel="stylesheet" href="../../tools/css/p7.css">
    <link rel="stylesheet" href="../../tools/css/p9.css">
    <link rel="stylesheet" href="../../tools/css/message.css">
    <link rel="stylesheet" href="../../tools/css/attending.css">
    <link rel="stylesheet" href="../../tools/css/head.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="../../swiper8/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../node_modules/swiper/swiper-bundle.min.css">
</head>

<body data-spy="scroll" data-target="#navbar-example">

    {{include "./head.html"}}
    {{include "./part1.html"}}
    {{include "./part3.html"}}
    {{include "./part4.html"}}
    {{include "./message.html"}}
    {{include "./part6.html"}}
    {{include "./part7.html"}}
    {{include "./attending.html"}}
    {{include "./part9.html"}}


    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/amfe-flexible/index.js"></script>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <!-- <script src="../../swiper-8.0.7/swiper8/swiper-bundle.min.js"></script> -->
    <script src="../../swiper8/swiper-bundle.min.js"></script>

    <!-- ws -->
    <script src="../../tools/font/font_dr646dqrccg/font_dr646dqrccg/iconfont.js"></script>


    <!-- 按钮跳转界面 -->
    <script>
        $("#btn").click(function () {
            window.location.href = "http://localhost:3000/index"
        })
    </script>
    <!-- 头像的回写 -->
    <script>
        function getFileContent() {
            //以下死代码
            //创建一个文件读取对象
            var reader = new FileReader();
            //拿到avatar文件域中的文件信息
            var files = document.querySelector("#avatar").files;

            if (files && files.length > 0) {
                //读取avatar文件域中的文件数据
                reader.readAsDataURL(files[0]);
                //当数据读取完毕的时候
                reader.onload = function () {
                    //让图片预览中显示上传的图片信息
                    document.querySelector(".form-group img").src = reader.result;
                }
            }
        }
    </script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 30,
            centeredSlides: true,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>

    <!-- ws_swiper -->
    <script>
        //   动态改变窗口大小，实现改变轮播图的样式



        var swiper = new Swiper(".swiper-container", {
            on: { // hs使用这个监听
                resize: function () {
                    var width = document.body.clientWidth;
                    if (width < 768) {
                        this.params.slidesPerView = 1; // 会动态改变显示窗口个数
                    } else if (width > 768 && width < 1080) {
                        this.params.slidesPerView = 2;
                    } else if (width > 1080) {
                        this.params.slidesPerView = 3;
                    }

                    this.update(); //窗口变化时，更新Swiper的一些属性，如宽高等

                },
            },
        });
    </script>

    <!-- Initialize Swiper -->
    <script>
        // width为浏览器当前窗口大小
        var width = document.body.clientWidth;


        var swiper;
        if (width >= 1070) {
            swiper = new Swiper(".mySwiper", {
                slidesPerView: 5,
                // 拖拽后也可以进行自动轮播
                autoplay: {
                    disableOnInteraction: false,
                    delay: 2000,
                },
                loop: true,
                centeredSlides: true,
                spaceBetween: 30,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        } else if (width >= 600) {
            swiper = new Swiper(".mySwiper", {
                slidesPerView: 2,
                // 拖拽后也可以进行自动轮播
                autoplay: {
                    disableOnInteraction: false,
                    delay: 2000,
                },
                loop: true,
                centeredSlides: true,
                spaceBetween: 30,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        } else if (width < 600) {
            swiper = new Swiper(".mySwiper", {
                slidesPerView: 1,
                // 拖拽后也可以进行自动轮播
                autoplay: {
                    disableOnInteraction: false,
                    delay: 2000,
                },
                loop: true,
                centeredSlides: true,
                spaceBetween: 30,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        }
        //   动态改变窗口大小，实现改变轮播图的样式
        window.onresize = function () {
            var width = document.body.clientWidth;
            swiper.destroy();
            if (width >= 1070) {
                swiper = new Swiper(".mySwiper", {
                    slidesPerView: 5,
                    // 拖拽后也可以进行自动轮播
                    autoplay: {
                        disableOnInteraction: false,
                        delay: 2000,
                    },
                    loop: true,
                    centeredSlides: true,
                    spaceBetween: 30,
                    grabCursor: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            } else if (width < 1070 && width >= 600) {
                swiper = new Swiper(".mySwiper", {
                    slidesPerView: 2,
                    // 拖拽后也可以进行自动轮播
                    autoplay: {
                        disableOnInteraction: false,
                        delay: 2000,
                    },
                    loop: true,
                    centeredSlides: true,
                    spaceBetween: 30,
                    grabCursor: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            } else if (width < 600) {
                swiper = new Swiper(".mySwiper", {
                    slidesPerView: 1,
                    // 拖拽后也可以进行自动轮播
                    autoplay: {
                        disableOnInteraction: false,
                        delay: 2000,
                    },
                    loop: true,
                    centeredSlides: true,
                    spaceBetween: 30,
                    grabCursor: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            }
        };
    </script>
    <script src="../../tools/js/main.js"></script>、

    <!-- 模态框js -->
    <script>
        $(function () {
            $('.gallery-img').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });
        });
    </script>
</body>

</html>