<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!-- 导航部分 -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="">回到首页</a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> 菜单
	  </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="#home-section" class="nav-link"><span>首页</span></a></li>
                    <li class="nav-item"><a href="#groom-bride-section" class="nav-link"><span>新郎 &amp; 新娘</span></a></li>
                    <li class="nav-item"><a href="#lovestory-section" class="nav-link"><span>爱情故事</span></a></li>
                    <li class="nav-item"><a href="#greeting-section" class="nav-link"><span>爱情誓言</span></a></li>
                    <li class="nav-item"><a href="#people-section" class="nav-link"><span>亲情友情</span></a></li>
                    <li class="nav-item"><a href="#when-where-section" class="nav-link"><span>时间 &amp; 地点</span></a></li>
                    <li class="nav-item"><a href="#rsvp-section" class="nav-link"><span>敬请回复</span></a></li>
                    <li class="nav-item"><a href="#gallery-section" class="nav-link"><span>爱情相册</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 背景图片和显示首页部分 -->
    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url(../../tools/images/bg_1.jpg); background-size:cover; background-position: top center;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <a class="player" data-property="{videoURL:'#',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default',optimizeDisplay:true}"></a>
        <div class="container">
            <div class="row js-fullheight justify-content-center d-flex align-items-center">
                <div class="col-md-12">
                    <div class="text text-center">
                        <div class="icon">
                            <span class="flaticon-rose-outline-variant-with-vines-and-leaves"></span>
                        </div>
                        <span class="subheading"></span>
                        <h1>Shen Jingwen &amp; Huang Yu</h1>
                        <div id="timer" class="d-flex">
                            <div class="time" id="days"></div>
                            <div class="time pl-3" id="hours"></div>
                            <div class="time pl-3" id="minutes"></div>
                            <div class="time pl-3" id="seconds"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--倒计时部分和新郎新娘介绍页面  -->
    <section class="ftco-section ftco-about ftco-no-pt ftco-no-pb" id="groom-bride-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap">
                        <div class="row d-flex">
                            <div class="col-md-6 d-flex">
                                <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(../../tools/images/about.jpg);">
                                </div>
                            </div>
                            <div class="col-md-6 py-md-5 text">
                                <div class="py-md-4">
                                    <div class="row justify-content-start pb-3">
                                        <div class="col-md-12 ftco-animate p-4 p-lg-5 text-center">
                                            <span class="subheading mb-4">让我们一起 <br>祝福新人 新婚快乐</span>
                                            <h2 class="mb-4">Shen Jingwen <span>&amp;</span> Huang Yu</h2>
                                            <span class="icon flaticon-rose-variant-outline-with-vines"></span>
                                            <span class="subheading">新婚日期</span>
                                            <p class="time mb-4"><span>2021 | 09 | 28</span></p>
                                            <span class="subheading mb-5">婚礼开始时间 <br> 14:00</span>
                                            <span class="subheading mb-5">江南四季酒店<br>滨湖区锦溪路100号</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>