
<!-- 背景图片和显示首页部分 -->
<section id="home" class="video-hero js-fullheight" style="height: 1280px; background-image: url(../../tools/images/bg_1.jpg); background-size:cover; background-position: top center;">
    <!-- <div class="overlay"></div> -->
    <a class="player" data-property="{videoURL:'#',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default',optimizeDisplay:true}"></a>
    <div class="container">
        <div class="row js-fullheight justify-content-center d-flex align-items-center">
            <div class="col-md-12">
                <div class="text text-center">
                    <div class="icon">
                        <span class="flaticon-rose-outline-variant-with-vines-and-leaves"></span>
                    </div>
                    <span class="subheading"></span>
                    <h1 style="color: white; font-size: 120px; width: auto;position: absolute; top: 150px;">Shen Jingwen &amp; Huang Yu</h1>
                    <div id="timer" class="d-flex">
                        <div class="time" id="days"></div>
                        <div class="time pl-3" id="hours"></div>
                        <div class="time pl-3" id="minutes"></div>
                        <div class="time pl-3" id="seconds"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--倒计时部分和新郎新娘介绍页面111  -->
<section class="ftco-section ftco-about ftco-no-pt ftco-no-pb" id="groom-bride-section">
    <div class="container" id="p1-groom-bride-section">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap">
                    <div class="row d-flex">
                        <div class="col-md-6 d-flex">
                            <div class="img d-flex align-self-stretch align-items-center" style="background:url(../../tools/images/about.jpg) no-repeat; background-position: top center; background-size:cover">
                            </div>
                        </div>
                        <div class="col-md-6 py-md-5 text">
                            <div class="py-md-4">
                                <div class="row justify-content-start pb-3">
                                    <div class="col-md-12 ftco-animate p-4 p-lg-5 text-center">
                                        <span class="subheading mb-4" id="p2-top1">让我们一起 <br>祝福新人 新婚快乐</span>
                                        <h2 class="mb-4" id="p2-top2">Shen Jingwen <span>&amp;</span> Huang Yu</h2>
                                        <span class="subheading" id="p2-subheading">新婚日期</span>
                                        <p class="time mb-4" id="p2-time"><span>2021 | 09 | 28</span></p>
                                        <span class="subheading mb-5" id="p2-start">婚礼开始时间 <br> 14:00</span>
                                        <span class="subheading mb-5" id="p2-station">江南四季酒店<br>滨湖区锦溪路100号</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>