<div class="container" id="part6">
    <div class="people">People</div>
    <h2 class="friends">Family & Friends</h2>
</div>

<!-- Swiper -->

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../../tools/images/bridesmaid-1.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Rse Jone</h3>
                <p style="color: gray">Bridesmaid</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/bridesmaid-2.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Mary Dell</h3>
                <p style="color: gray">Bridesmaid</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/bridesmaid-3.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Alicia Ba</h3>
                <p style="color: gray">Bridesmaid</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/bridesmaid-4.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Angel See</h3>
                <p style="color: gray">Bridesmaid</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/groom-men-1.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Mak Tomy</h3>
                <p style="color: gray">Groomsmen</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/groom-men-2.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">John Hee</h3>
                <p style="color: gray">Groomsmen</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/groom-men-3.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Rey Cper</h3>
                <p style="color: gray">Groomsmen</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="../../tools/images/groom-men-4.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px" />
            <div class="carousel-caption" style="top: 180px">
                <h3 style="color: black">Robr Cac</h3>
                <p style="color: gray">Groomsmen</p>
            </div>
        </div>
    </div>

</div>