<div class="container">
    <div class="love_story text-center">
        <span>L o v e S t o r y</span>
        <h2>L o v e S t o r y</h2>
    </div>`
    <ul class="timeline">
        <li class="timeline_child">
            <div class="row">
                <div class="timeline_story col-md-8 col-xs-12 text-right">
                    <span> JUNE 10, 2021</span>
                    <h3> First We Meet</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they live in .
                    </p>
                </div>
                <div class="head_pic col-md-8">
                </div>
            </div>

        </li>
        <li class="timeline_child">
            <div class="row">
                <div class="head_pic col-md-8" style="background-image:url(../../tools/images/couple-2.jpg) ;">
                </div>
                <div class="timeline_story col-md-8 col-xs-12 " style="float:right ;">
                    <span> JUNE 10, 2021</span>
                    <h3> First We Meet</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they live in .
                    </p>
                </div>

            </div>

        </li>
        <li class="timeline_child">
            <div class="row">
                <div class="timeline_story col-lg-4 col-md-6 col-xs-12 text-right">
                    <span> JUNE 10, 2021</span>
                    <h3> First We Meet</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they live in .
                    </p>
                </div>
                <div class="head_pic col-md-8" style="background-image:url(../../tools/images/couple-3.jpg) ;">
                </div>
            </div>

        </li>
        <li class="timeline_child">
            <div class="row">
                <div class="head_pic col-md-8 " style="background-image:url(../../tools/images/couple-4.jpg);">
                </div>
                <div class="timeline_story col-md-8 col-xs-12 " style="float:right;">
                    <span> JUNE 10, 2021</span>
                    <h3> First We Meet</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they live in .
                    </p>
                </div>

            </div>

        </li>
    </ul>
</div>