 
 
    <section class="gallery">
        <div class="container-fluid">
            <h2 class="animated fadeInDown">Gallery</h2>
        </div>
        <div class="row gallery-images">
            <div class="col-md-3 gallery-img">
                <a href="#"  class="animated pulse" style="background-image:url(../tools/images/gallery-1.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-2.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-3.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-4.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-5.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-6.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-7.jpg);"></a>
            </div>
            <div class="col-md-3 gallery-img">
                <a href="#" class="animated pulse" style="background-image:url(../tools/images/gallery-8.jpg);"></a>
            </div>
        </div>
    </section>

    <section  class="container footer">
        <div class="row footer-menu">
          <div class="hoopup col-md-3 col-sm-4 col-xs-12">
            <h3 class="animated fadeInDown">联系</h3>
            <p>可随时与我们联系</p>
            <ul>
              <li class="glyphicon glyphicon-envelope"></li>
              <li class="glyphicon glyphicon-phone-alt"></li>
              <li class="glyphicon glyphicon-phone"></li>
            </ul>
          </div>
          <div class="links col-md-3 col-sm-4 col-xs-12">
            <h3 class="animated fadeInDown">导航</h3>
            <ul>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                首页
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                新郎&新娘
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                爱情故事
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                爱情誓言
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                亲情&友情
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                时间地点
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                敬请回复
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                爱情相册
              </li>
            </ul>
          </div>
          <div class="services col-md-3 col-sm-4 col-xs-12">
            <h3 class="animated fadeInDown">服务</h3>
            <ul>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                组织
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                场所
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                典礼
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right"></span>
                住所
              </li>
            </ul>
          </div>
          <div class="questions col-md-3 col-sm-6 col-xs-12">
            <h3 class="animated fadeInDown">有问题吗？</h3>
            <ul>
              <li>
                <span class="location glyphicon glyphicon-map-marker"></span>
                 地址
              </li>
              <li>
                <span class="glyphicon glyphicon-earphone"></span>
                电话号码 
              </li>
              <li>
                <span class="glyphicon glyphicon-envelope"></span>
                邮箱 
            </ul>
          </div>
        </div>
    </section>